.App {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
}

.form-and-list {
  display: flex;
  /* justify-content: flex-end; */
  /* flex-direction: column; */
}

.my-music-scores-list {
  border: 1px solid black;
  margin: 5px;
}

.music-upload-form {
  /* text-align: center; */
  border: 1px solid black;
  margin: 5px;
}

.music-score-item {
  border: 1px solid black;
  margin: 5px;
}

.music-score-display {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

input {
  float: right;
  clear: both;
}

label {
  float: left;
  clear: both;
}
