.App {

  border: 1px solid black;
}

.form-and-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.my-music-scores-list {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */


  border: 1px solid black;
  margin: 5px;
}

.music-upload-form {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  margin: 5px;
}

.music-score-item {

}
